#which files that git whould ignore.

# ignore objects and archives, anywhere in the tree.
*.o
*.a
# ignore dependency tracking files
*.d
# ignore axf files
*.axf
#ignore compiled bin files
*.bin
#ignore MAP file
MAP.txt
#ignore eclipse files
.cproject
.project
.settings

#ignore c file for single module compilation
MASTER.c

#ignore files for FPGA
*.bld
*.cdm_log
*.lso
*.ngc
*.ngd
*.xst
*.syr
*.html
*.map
*.mrp
*.tcl
*.debug
*.par
*.ptwx
*.stx
*.trw
*.drc
*.xpi
*.csv
*.txt
*.xrpt
*.gise
*.xml
*.vho
*planAhead*
*.wpc
*.unroutes
*.twx
*.twr
*.pad
*.ngr
*.pcf
*.projectmgr
*.vdbx
*.vdbl
*.xbcd
*.ref
*.webtalk
*xmsgs
*lst
*jou
*xreport
*/xst/*
*.log
*.bgn
*.ppr
*.ngm
*.ncd
*.xwbt
*.cmd_log
*.ut

#ignore crappy Windows thumbnail file
*.db 

# ignore latex build files
*.pdf
*.aux
*.synctex.gz
