//! **************************************************************************
// Written by: Map P.20131013 on Sat Mar 07 22:36:22 2015
//! **************************************************************************

SCHEMATIC START;
COMP "SW<1>" LOCATE = SITE "H18" LEVEL 1;
COMP "SW<2>" LOCATE = SITE "K18" LEVEL 1;
COMP "SW<3>" LOCATE = SITE "K17" LEVEL 1;
COMP "SW<4>" LOCATE = SITE "L14" LEVEL 1;
COMP "SW<5>" LOCATE = SITE "L13" LEVEL 1;
COMP "SW<6>" LOCATE = SITE "N17" LEVEL 1;
COMP "SW<7>" LOCATE = SITE "R17" LEVEL 1;
COMP "BTN<0>" LOCATE = SITE "B18" LEVEL 1;
COMP "BTN<1>" LOCATE = SITE "D18" LEVEL 1;
COMP "LD<0>" LOCATE = SITE "J14" LEVEL 1;
COMP "BTN<2>" LOCATE = SITE "E18" LEVEL 1;
COMP "LD<1>" LOCATE = SITE "J15" LEVEL 1;
COMP "BTN<3>" LOCATE = SITE "H13" LEVEL 1;
COMP "LD<2>" LOCATE = SITE "K15" LEVEL 1;
COMP "LD<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "LD<4>" LOCATE = SITE "E17" LEVEL 1;
COMP "LD<5>" LOCATE = SITE "P15" LEVEL 1;
COMP "LD<6>" LOCATE = SITE "F4" LEVEL 1;
COMP "IN1A" LOCATE = SITE "R15" LEVEL 1;
COMP "IN1B" LOCATE = SITE "R18" LEVEL 1;
COMP "LD<7>" LOCATE = SITE "R4" LEVEL 1;
COMP "IN2A" LOCATE = SITE "T18" LEVEL 1;
COMP "IN2B" LOCATE = SITE "P17" LEVEL 1;
COMP "Clock" LOCATE = SITE "B8" LEVEL 1;
COMP "HS1A" LOCATE = SITE "M14" LEVEL 1;
COMP "HS2A" LOCATE = SITE "M15" LEVEL 1;
COMP "HS2B" LOCATE = SITE "M16" LEVEL 1;
COMP "I0" LOCATE = SITE "K12" LEVEL 1;
COMP "ENA" LOCATE = SITE "R16" LEVEL 1;
COMP "I1" LOCATE = SITE "L16" LEVEL 1;
COMP "HS1b" LOCATE = SITE "L17" LEVEL 1;
COMP "ENB" LOCATE = SITE "M13" LEVEL 1;
COMP "SW<0>" LOCATE = SITE "G18" LEVEL 1;
NET "Clock_BUFGP/IBUFG" BEL "Clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

